<div class="container py-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-center mb-3 mb-md-0">
      <img src="./assets/me.png" class="img-fluid rounded-circle shadow" alt="Winy Daniela Manzano Rangel" style="max-width: 200px;">
    </div>
    <div class="col-md-8 text-md-start text-center">
      <h2 class="fw-bold mb-2">Winy Daniela Manzano Rangel</h2>
      <p class="text-muted">Estudiante de Ingeniería en Desarrollo y Gestión de Software</p>
      <h4>Estudios</h4>
      <h5>Universidad Tecnológica del Norte de Guanajuato</h5>
      <li> TSU en Tecnologías de la Información Área Desarrollo de Software Multiplataforma</li>
    </div>
  </div>
</div>
